.categoryAmountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 5rem !important;
  max-height: 5rem !important;
}

.catagoriesModalForm {
  display: flex;
}

.catagoriesModalLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 400;
  font-size: 16px;
  padding: 5rem;
  margin: 1rem 20px;
  color: #ffffff; /* Change to white */
  background-image: linear-gradient(180deg, #5a7dff, #2c3fe0); /* Darker blue gradient */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  padding: 5rem 5rem 3rem 5rem;
}

.catagoriesModalRight {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.container {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
    overflow-y: auto;
    padding: 0 1.5rem;
    overflow-x: hidden !important;

    @media (min-width: 900px) {
      padding: 0;
    }

    &::-webkit-scrollbar {
      width: 0;

      @media (min-width: 900px) {
        width: 1rem;
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 100vw;
      margin: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 9999px;
      background-color: #b0b0b0; /* Light gray */
    }

    .list_wrapper {
      min-height: 100%;
      padding-bottom: 24rem;

      @media (min-width: 900px) {
        padding-bottom: 0;
      }

      .list {
        padding: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 1rem;

        @media (min-width: 600px) {
          padding: 2rem;
        }
      }
    }

    .cartCardWrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin: 10px;
      gap: 0;
      border-radius: 16px;

      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      @media (min-width: 496px) {
        gap: 5rem;
      }

      .cartCardContainer {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        gap: 2rem;

        .cartCardImage {
          width: 8rem;
          height: 8rem;
          object-fit: contain;
          background-color: #dcdcdc; /* Lighter gray */
          border-radius: 20px;
          padding: 10px;
          position: relative;
          transition: transform 0.3s ease;

          @media (min-width: 496px) {
            width: 10rem;
            height: 10rem;
            padding: 20px;
          }
        }

        .cartCardDetails {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0;

          @media (min-width: 496px) {
            gap: 5rem;
          }

          .cartCardLeft {
            max-width: 10rem;

            .title {
              font-family: $font-f-title;
              font-weight: $font-w-700;
              font-size: 16px;
              letter-spacing: $ls-secondary;
              color: #ff5733; /* Change to a brighter orange */

              line-height: 1.5rem;
              overflow-wrap: break-word;
              hyphens: auto;
              display: -webkit-box;
              max-width: 10rem;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 100%;
              margin-bottom: 0.4rem;

              @media (min-width: 496px) {
                gap: 5rem;
                max-width: 8rem;
              }
            }

            .size {
              font-family: $font-f-secondary;
              font-weight: $font-w-400;
              font-size: 12px;
              letter-spacing: $ls-secondary;
              color: #8c8c8c; /* Medium gray */
              margin-bottom: 2rem;
            }

            .price {
              font-family: $font-f-title;
              font-weight: $font-w-700;
              font-size: 16px;
              letter-spacing: $ls-secondary;
              color: #ff5733; /* Change to a brighter orange */
            }
          }
        }
      }

      .cartCardRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .cartCardRightWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          padding: 5px 10px 5px 10px;
          border: 1px solid #8c8c8c; /* Medium gray */
          border-radius: 12px;

          .button {
            font-family: $font-f-title;
            font-weight: $font-w-700;
            font-size: 16px;
            letter-spacing: $ls-secondary;
            color: #ff5733; /* Change to a brighter orange */
            background-color: transparent;

            &:disabled {
              color: #8c8c8c; /* Medium gray */
            }
          }

          .counter {
            font-family: $font-f-title;
            font-weight: $font-w-700;
            font-size: 16px;
            letter-spacing: $ls-secondary;
            color: #ff5733; /* Change to a brighter orange */
          }
        }

        .cartCardDelete {
          display: flex;
          justify-content: center;
          align-self: flex-end;

          .icon {
            font-size: 18px;
            color: #ff5733; /* Change to a brighter orange */
          }
        }
      }
    }
  }

  .footer_container {
    bottom: 0;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.75);
    backdrop-filter: blur(10px);
    border: $border-modal;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    z-index: 1;

    @media (min-width: 900px) {
      position: static;
      border: none;
      border-top: 1px solid #adadad; /* Gray */
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: auto;
    }

    .footer_wrapper {
      padding: 2rem;

      .footer_total {
        display: flex;
        justify-content: space-between;

        p {
          font-family: $font-f-title;
          font-size: 1.4rem;
          font-weight: $font-w-700;
          font-size: 18px;
          letter-spacing: $ls-secondary;
          margin-bottom: 2rem;
          color: #2c3fe0; /* Darker blue */
        }
      }

      .buttons_wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (min-width: 600px) and (max-width: 899px) {
          flex-direction: row;
          gap: 2rem;
        }

        .buttons_container {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
        }

        .cart_button {
          display: flex;
          justify-content: center;
          width: 100%;
          border-radius: 8px;
          border: 1px solid transparent;
          font-weight: 700;
          font-size: 1.2rem;
          color: #fff;
          padding: 0.8rem;
          cursor: pointer;
          background-color: #2c3fe0; /* Darker blue */

          &:hover {
            background-color: #5a7dff; /* Lighter blue */
          }

          &:disabled {
            background-color: #dcdcdc; /* Lighter gray */
            cursor: not-allowed;
          }
        }

        .clear_button {
          display: flex;
          justify-content: center;
          width: 100%;
          border-radius: 8px;
          border: 1px solid transparent;
          font-weight: 700;
          font-size: 1.2rem;
          padding: 0.8rem;
          cursor: pointer;
          background-color: #ff5733; /* Bright orange */

          &:hover {
            background-color: #ff5733; /* Slightly darker orange */
          }

          &:disabled {
            background-color: #dcdcdc; /* Lighter gray */
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
